.trip-info-weather {
    width: 311px;
    height: 221px;
    background-color: aqua;
    font-family: 'PT Serif', serif;
}

.currentWeather {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    background-color: aquamarine;
}

.currentWeather-temperature {
    font-size: 3rem;
    font-family: 'Fira Sans', sans-serif;
}

.currentWeather-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.currentWeather-condition {

}

.currentWeather-condition-img {
height: 60px;
width: 60px;
}

.forecastWeather {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    background-color: red;
}

.forecastWeather-day {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}