.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;

}

.identity-block {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
}

.identity-logo {
    border: 1px solid black;
}

.identity-title {
    border: 1px solid black;;
}

.menu-block {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;

}

.menu-home {
    border: 1px solid black;
    
}

.menu-add {
    border: 1px solid black;
    
}

.menu-about {
    border: 1px solid black;
    
}

.body-container {
    border: 1px solid black;
    
}

.hero-block {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    
}

.hero-img {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.recent-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    
}

.card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.tripCard {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.otherTrips-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    
}

.worldMap-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.worldMap-img {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.continent-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    border: 1px solid black;
}

.continent-img {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}