@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');


/* font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif; */

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* .home-page {

} */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    z-index: 1;
    position: fixed;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); 
}

.identity {
    display: flex;
    align-items: center;
    height: 100%;
}

.identity-logo {
    width: 160px;
    height: 100%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu > a {
    width: fit-content;
    height: fit-content;
}

.menu-home {
    color: white;
}

.menu-add {
    color: white;
}

.menu-about {
    color: white;   
}

.body-home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.hero-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
    scroll-snap-align: start;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

.section-title > h2 {
    /* width: 100%;
    height: 10vh; */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80vh;
    /* flex-wrap: wrap; */
}

.tripCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 40vh;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;;
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.other-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
    scroll-snap-align: start;
}

.worldMap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.worldMap-img {
    width: 80%;
    object-fit: cover;
}

.continent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.continent-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    position: relative;
    text-align: center;
    color: white;
}

.continent-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.continent-title {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.40);
    scroll-snap-align: end;
}

.footer > a {
    width: fit-content;
    height: fit-content;
}

.body-about-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
    scroll-snap-align: start;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
    gap: 40px;
}

.about-img {
    width: 20%;
    height: 50vh;
    object-fit: cover;
    border-radius: 6px;
}

.about-presentation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 40%;
    height: 50vh;
}